:root{
    --bg-button: white;
    --border-button: solid 1px #888;
}

.button{
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active{
    background-color: #ccc;
}

.button.double{
    grid-column: span 2;
}

.button.triple{
    grid-column: span 3;
}

.button.operation{
    background-color:#0093D1;
    color: #fff;
}

.button.spOp{
    background-color:#F2635F;
    color: #fff;
}

.button.operation:active{
    background-color: rgb(51,102,255);
}

.button.spOp:active{
    background-color: #ff9999;
}