@font-face{
  font-family: 'RobotoMono';
  src: url('./fontes/RobotoMono-Thin.ttf')
}

* {
  font-family: 'RobotoMono','monospace';
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color:black;
  background-image: linear-gradient(to right, #000460, #1cb5e0)
}